//$gainsboro: #DADDD8;
$blueberry: #4392F1;
$canary: #FFFD98;
$aero: #79BEEE;
$aurometalsaurus: #637081;
$gunmetal: #272838;
$mummys-tomb: #7E8D85;
$azureish-white: #D7F9F1;
$gainsboro:#D7DCEA;
$black-coral:#595F72;
$lavender-gray: #C4C8D5;
$ash-grey: #B0B5C0;