@import "_normalize";
@import "_variables";


:root {
  box-sizing: border-box;
  font-size: 1 em;
}

body {
  background: $gainsboro;
  color: $yankees-blue;//$aurometalsaurus;
  font-family: 'Poppins', sans-serif;
  margin: 6em;
}

.me{
  line-height: 2.8rem;
  margin-bottom: 10em;
  width: 50vw;
  &__email &__link{
    border-bottom: .1em solid $dodger-blue;
    color: $dodger-blue;
    padding-bottom: .4em;
    text-decoration: none;
    
  }
  &__link{
    color: $dodger-blue;
    font-style: normal;
  }
  &__text{
    font-size: 1rem;
    line-height: 1.8rem;
    width: 63%;
  }
}

.my-projects{
  &__item{
    background: $yankees-blue;//$aurometalsaurus;
    border-radius: .5em;
    box-shadow: 0.18em 0.18em rgba($color: #000000, $alpha: .6);
    
    display: block;
    color: $ash-grey;
    padding: .5em;
    
  }
  &__link{
    color: $dodger-blue;//$lavender-gray;
    font-style: normal;
    text-decoration: none;
  }
  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    list-style-type: none;
    margin: 0;
    padding: 0 0.5em;
  }
}
