@import "_normalize";
@import "_variables";

:root {
  box-sizing: border-box;
  font-size: 1 em;
}

body {
  background: $gray;
  border: 0.5vw solid $border;
  color: $black;
  display: grid;
  font-family: "Poppins", sans-serif;
  grid-template-columns: 1fr 8fr 1fr;
  max-width: 72em;
  min-width: 29.2em;
  margin: 0 auto;
  & > section {
    grid-column: 2;
    min-width: 29.2em;
  }
}

.contact {
  background: $border;
  padding: 5em 0;
}

.contact-empty-left {
  grid-column: 1;
  background: $border;
  width: auto;
}

.contact-empty-right {
  grid-column: 3;
  background: $border;
  width: auto;
  z-index: -1;
}

.footer {
  background: $border;
  font-size: 0.5rem;
  grid-column: 1 / span 3;
  text-align: right;
  & div a {
    color: $blue;
  }
}
.me {
  line-height: 2.8rem;
  margin-bottom: 10em;
  //width: 50vw;
  &__email &__link {
    border-bottom: 0.1em solid $blue;
    color: $blue;
    padding-bottom: 0.4em;
    text-decoration: none;
  }
  &__link {
    color: $blue;
    font-style: normal;
  }
  &__text {
    font-size: 1rem;
    line-height: 1.8rem;
    width: 63%;
  }
}

.my-projects {
  background: $yellow;
  padding: 5em 0;
  &__item {
    background: $gray;
    border-radius: 0.5em;
    box-shadow: 0.18em 0.18em rgba($color: #000000, $alpha: 0.6);
    display: block;
    padding: 0.5em;
    margin: .5em;
    min-width: 45.5%;
    max-width: 100%;
    
  }
  &__link {
    color: $black;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
  }
  &__list {
    align-content: space-between;
    align-items: stretch;
    justify-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__title {
    border-bottom: 0.07em solid $border;
    margin: 0;
    padding-bottom: 0.53em;
  }
}

.my-projects-empty-left {
  grid-column: 1;
  background: $yellow;
  width: auto;
}
.my-projects-empty-right {
  grid-column: 3;
  background: $yellow;
  width: auto;
  z-index: -1;
}

.my-skills {
  margin-bottom: 5em;
  &__title {
    border-bottom: 0.07em solid $yellow;
    margin: 0;
    padding-bottom: 0.53em;
  }
}

.skill-list {
  align-items: flex-start;
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &__item {
    flex: 1 1 auto;
    line-height: 2em;
    margin-top: 0.17em;
    max-width: 50%;
    min-width: 12em;
    //width: auto;
    &::before {
      color: $yellow;
      content: "• ";
    }
  }
  &__items {
    align-items: flex-start;
    align-content: space-between;
    display: flex;
    flex: 1 6 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    max-width: 50%;
    min-width: 20em;
    padding: 0;
  }
  &__title {
    flex: 1 1 auto;
    line-height: 2rem;
    min-width: 12em;
  }
}
